/* 
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
}

.App-header {
  text-align: center;
  margin-bottom: 20px;
}

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.btn {
  margin-right: 10px;
} */

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #09cbe4;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4f50db;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  width: 300px;
  text-align: center;
}

.modal h2 {
  color: white;
  margin-bottom: 20px;
}

.modal input, .modal textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

.modal button {
  background: red;
  border: none;
  color: white;
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

.modal button:hover {
  background: darkred;
}